### Most common words

In [22]:
train = pd.read_csv('train.csv', header=None) 
test = pd.read_csv('test.csv', header=None)

### ....

In [33]:
train.head(10)

   class                                           Sentence
0      3  wall st bears claw black reuters reuters short...
1      3  carlyle looks commercial aerospace reuters reu...
2      3  oil economy cloud stocks outlook reuters reute...
3      3  iraq halts oil exports main southern pipeline ...
4      3  oil prices soar time record posing new menace ...
5      3  stocks end near year lows reuters reuters stoc...
6      3  money funds fell latest week ap ap assets nati...
7      3  fed minutes dissent inflation usatoday com usa...
8      3  safety net forbes com forbes com earning ph d ...
9      3  wall st bears claw black new york reuters shor...

**Most 15 common words for the class = 3 between the  sentences in train set**

In [34]:
most_common_words(train, 'Sentence', 'class', 3, top=15)

s :  16785
reuters :  8717
said :  7311
new :  6632
oil :  6386
gt :  5263
lt :  5234
stocks :  4518
company :  4320
prices :  4226
fullquote :  3626
percent :  3453
york :  3392
year :  3335
u :  3237